:root{
    margin: 0;
    padding: 0;
}

*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar{
    background-color: lightblue;
}

.main{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;
    gap: 4px;
}

.topbar{
    background-color: purple;
    grid-column: span 2;
    grid-row: span 1;
}

.projects{
    background-color:darkgreen;
    grid-row: span 2;
}

.announcements{
    background-color: lightcoral;
    grid-row: span 1;
}

.trending{
    background-color: yellow;
    grid-column: 2/3;
}