:root{
    margin: 0;
    padding: 0;
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.sidebar{
    background-color: #0E1113;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 5%;
    color: white;
}

.logo{
    margin: 10% 0 0 10%;
}

.menu{
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    gap: 25%;
}
.main{
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 4fr 4fr;
    gap: 4px;
}

.topbar{
    background-color: purple;
    grid-column: span 2;
    grid-row: span 1;
}

.projects{
    background-color:darkgreen;
    grid-row: span 2;
}

.announcements{
    background-color: lightcoral;
    grid-row: span 1;
}

.trending{
    background-color: yellow;
    grid-column: 2/3;
}